.single_match {
  display: inline-flex;
  min-width: 800px;
  justify-content: space-around;
  align-items: center;

  background-color: #42434a;
  border-radius: 2rem;

  color: white;
}
.opponent_team {
  padding: 1rem;
  font-size: 2rem;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  display: flex;
}
.score {
  font-size: 2rem;
  min-width: 50px;

  justify-content: center;

  display: flex;
}
