.serie {
  background-color: #1a1b20;

  color: white;

  min-height: 100vh;
  padding: 0 auto;
  margin: 0 auto;
}

.serie_matches_header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 22px;
  font-weight: 700;
}
